* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(image/set.jpg) no-repeat center center fixed;
    background-size: cover;
}

#container {
    width: 35%;
    height: 400px;

    background-color: #475b86;
    border-radius: 10px;
    outline: 1px solid #8776b6;
    outline-offset: 3px;
    -moz-outline-radius: 10px;

  }

  #title_container {
    width: 100%;
    height: 8%;

    text-align: center;
    float: left;
    margin: 0;

    color: #003049;
    text-transform: uppercase;
    font-family: Verdana;
    font-size: 14px;

    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;

    color: #003049;
  }
  #form_container {
    width: 100%;
    height: 50%;

    float: left;
    margin-top: 2px;
    padding-left: 100px;
    padding-right: 100px;

    box-sizing: border-box;
  }

  #form_container * {
    width: 100%;
    height: 50px;

    border: none;
    outline: none;
    border-left: 2px solid #003049;
    background-color: #f5f7f8;
    margin: 0;
    padding: 0;
    text-align: center;

    margin-top: 3px;
    float: left;

  }

  * {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('image/pk.jpg') no-repeat center center fixed;
    background-size: cover;
  }
  
  #container {
    width: 35%;
    height: 350px;
    padding: 1px; /* Added padding for better spacing */
    background-color: #023d3a;
    border-radius: 10px;
    outline: 1px solid #05704d;
    outline-offset: 3px;
    -moz-outline-radius: 10px;
  
  }
  
  #title_container {
    width: 100%;
    height: 8%;
  
    text-align: center;
    float: left;
    margin: 0;
    color: #55cc94;
    text-transform: uppercase;
    font-family: Verdana;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  #form_container {
    width: 100%;
    height: 50%;
  
    float: left;
    margin-top: 2px;
    padding-left: 100px;
    padding-right: 100px;
  
    box-sizing: border-box;
  }
  
  #form_container * {
    width: 100%;
    height: 50px;
  
    border: none;
    outline: none;
    border-left: 2px solid #15a3a3;
    background-color: #f5f7f8;
    margin: 0;
    padding: 0;
    text-align: center;
  
    margin-top: 3px;
    float: left;
  
  }
  
  #button_container {
    width: 100%;
    height: 5%;
  
    text-align: center;
    float: left;
    margin-bottom: 50px;
  
    font-family: Verdana;
  
  }
  
  #submit {
    width: 25%;
    height: 35px;
  
    background-color: #0b8a7f;
    border-radius: 5px;
    font-weight: bold;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
  }
  
  
  #content {
    width: 105px;
    height: 100%;
  
    margin: 0;
    padding: 0;
    float: left;
  
    color: #34d8bd;
    margin-right: 5px;
  }
  
  .typedtext {
    display: inline-block;
    height: 100%;
    margin: 0;
    padding: 0;
  
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 5px;
    border-bottom: 2px solid #099259;
  
  }
  


  #content {
    width: 105px;
    height: 100%;

    margin: 0;
    padding: 0;
    float: left;

    color: #65b9e0;
    margin-right: 5px;
  }

  .typedtext {
    display: inline-block;
    height: 100%;
    margin: 0;
    padding: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 5px;
    border-bottom: 2px solid #0aa5d4;

  }
